<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
    <!--@ViewBag ile Controller'da oluturduğumuz değişkenleri
    View'de @ViewBag.DegiskenAdi şeklinde çekiyoruz.-->
    Merhaba @ViewBag.UserName 
    @ViewBag.Greeting
    <br>
    Saat : @ViewBag.Saat
</body>
</html>