<!--Student ile Student.cs classını burada kullanacağımızı
belirttik. Sadece Student yazabilmemizin sebebi Views klasöründeki
_ViewImports.cshtml dosyasında "using CourseApp.Model" belirtmemizdir. -->
@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apply</title>
    <link rel="stylesheet" href="../modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="container m-2">
        <div class="card mx-auto" style="500px;">
            <div class="card header">
                Başvuru Formu
            </div>
            <div class="card body">
                <!--TagHelpers
        asp-action="apply" yapısıyla formun post edileceği yeri
    kendisi çözümler. burada Course klasöründe olduğumuz için?
     /Course/Apply adresine post işlemi yapılacaktır.-->
                <form asp-action="apply" method="POST">
                    <!--asp-validation-summary doğrulama özetidir. All model + özellik boyutunda
                    doğrulama yapar.(Tag Helpers)-->
                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <!--burada asp-for="Name" kullanıldığında label için 
                        for="Name" çözümlemesi yapar.
                        input için ise, type="text" çözümünü yapar. Bunun nedeni
                        Student.cs classında Name metodunun string değer olmasıdır.-->
                        <label asp-for="Name">Adınız</label>
                        <input asp-for="Name" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Email">EPosta</label>
                        <input asp-for="Email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone">Telefon</label>
                        <input asp-for="Phone" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Confirm">Kursa Katılacak Mısınız?</label>
                        <select asp-for="Confirm" class="form-control">
                            <option value="">Seçiniz</option>
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>