@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apply</title>
</head>
<body>
    <form action="/course/apply">

        <p>
            <label for="name">Adınız</label>
            <input type="text" name="name">
        </p>
        
        <p>
            <label for="email">EPosta</label>
            <input type="text" name="email">
        </p>

        <p>
            <label for="phone">Telefon</label>
            <input type="text" name="phone">
        </p>
        
        <p>
            <label for="confirm">Kursa Katılacak Mısınız?</label>
            <select name="confirm">
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </p>

        <input type="submit" value="Submit">
    </form>
</body>
</html>