<!--Diğer Viewlerde model için yalnızca Student yazabiliyorken
burada döndürdüğümüz veri (students) liste olduğu için IEnumerable<Student>
şeklinde yazmalıyız.-->
@model IEnumerable<Student>

<!DOCTYPE html>
<html>
<head>
	<title>Course</title>
</head>
<body>
    <!--foreach döngüsü kullanıyoruz. "student" kısmı farklı değer alabilir
    Model yazan yer "Model.Name" şeklinde ulaşabildiğimiz nesnelerdir.
    Foreach ile bu nesneler üzerinde gezinebiliyoruz. "Model" diziyi temsil ediyor.
    Foreach (1,2,3,4)
    1: Değişken Tipi
    2: Değişken Adı
    3: in (içinde)
    4: Dizi-->
    
    <table border="true">
            <thead>
                <td>İsim</td>
                <td>Mail</td>
                <td>Telefon</td>
                <td>Onay</td>
            </thead>
    @foreach (var student in Model)
    {
        
            <tbody>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>@student.Confirm</td>
            </tbody>
    }
    </table>

</body>
</html>